/vendor
/node_modules
/.env
/.env.*
/.vscode
/.idea
/.phpunit.result.cache
/storage/*.key
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/hot
/public/storage
/.phpunit.result.cache
/.composer
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.lock
bootstrap/cache/*.php
